*{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;  
}
body{
    width:100%;
}
html{
    font-size: 62.5%;
}

.menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hamburger{
    display: none;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

#logo img{
    width: 100%;
}
header{
   
    width: 90%;
    margin: 0 auto;
    margin-bottom: 13.6rem;
}
#navbar ul li {
    display: inline-block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 116.6%;
    margin-right: 3.25rem;
}
ul li a{
    text-decoration: none;
    color:#ffffff;
}
.home{
    padding-top: 47.24px;
    background-color: #029F58;
    background-image: url("./assets/Rectangle.png");
    overflow-y: hidden;
}
/* #navbar{
    float: right;
} */
.home-main{
  display: flex;
  width: auto;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  height: auto;
    
}
.home-text-header{
    max-width: 100rem;
    font-family: DM Sans; 
    font-size: 13rem;
    font-weight: 700;
    line-height: 12.3rem;
    letter-spacing: -0.06em;
    color: #ffffff;
    margin: 0 7.5rem 2.5rem 7.5rem;
    text-align: center;
    overflow-y: hidden ;
    height: auto;
    
}
.home-text{
    max-width: 55rem;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin: 4rem auto 0 auto;
}
.stores{
    display: flex;
    justify-content: center;
    margin-top: 8.2rem;
  
}
.store-img1{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 20px;
}
 .store-img2{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 20px;
}
.home-images{
    display: flex;
    justify-content: center;
    position: relative;
}
.h-image1, .h-image3{
    bottom: 0%;
    position: absolute;
    max-width: 70%;
}
.h-image2{
    z-index: 100;
    max-width: 70%;
    margin-right: 15%; 
}
.h-image1{
    left: -7%;
}
.h-image3{
    right: 0%;
}
.for-fans{
   
   background-image: url("./assets/noise.png");
   position: relative;
   height: auto;
   /* height: 50rem;  */
   overflow-y: hidden;

}
.forfans1text{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

}
.forfans1text p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.forfans-header-text{
    margin-top: 10%;
    max-width: 50rem;
    font-family: DM Sans;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7.3rem;
    letter-spacing: -0.03em;
    text-align: left;
    overflow-y: hidden;
    color: #007640;
}

.forfans-img1{
    position: absolute;
    z-index: -100;
    max-width: 100%;
    min-width: 10%;
    height: auto;
    width: 10%;
    top: 4rem;
    left: 4.7rem;
    }
.forfans-img2{
    position: absolute;
    width: 30%;
    z-index: -100;
    right: 4.2rem;
    top: -10%;
}

.forfans-text{
    max-width: 68.3rem; 
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    z-index: 500;
    margin-bottom: 10%;

}
.connect{
    /* height: 662px; */
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;

}



.connecttext{
    width: 45%;
    margin-left: 5%;
}
.connect-image{
    display: flex;
    justify-content: center;
    width: 45%;
    margin: auto 5% auto 0;

}
.pillimg1{
    max-width: 100%;
    margin: auto;


}
.fans3{
    width:100%
}
.connectpill{
    max-width: 50.1rem;
    margin: 10% 0 0 0;
}
.fansheader{
max-width: 50.1rem;
margin: 5% 0 0 0;
font-family: DM Sans;
font-size: 6.8rem;
font-style: normal;
font-weight: 500;
line-height: 6.87rem;
letter-spacing: -0.03em;
text-align: left;
overflow-y:hidden ;

}
.fanstext{
    width: 100%;

    max-width: 50.1rem;
    margin: 5% 0 10% 0;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.fans3{
    display: flex;
    width: 100%;
    /* position: relative; */
    background-image: url("./assets/noise.png");
    background-color: #F0F0E6;
}
.assurance{
    width: 50%;

    position: relative;
    height: auto;
    background-color:#039352;
    overflow-y: hidden;
  
}
.assurancecontainer{
    margin-left: 10%;

}
.chatspacer{
    display: flex;
    justify-content: center;
    margin-right: 10%;
}
.assurance-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 58.1rem;
    margin: 10% 0 0 0;
}
.chat{
    width: 50%;
    height: auto;
    z-index: 300;
}
.fans3pill{
    width: 100px;
    height: 32px;
}
.chaticon{
    width: 64px;
    height: 64px;
    right: 120px;
    top: 126px;
}
.fans3header{
    width: 90%;

    height: 136px;
    max-width: 48.1rem;
    margin: 6.1rem 0  0 0;
    font-family: DM Sans;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.8rem;
    letter-spacing: -0.03em;
    color: #ffffff;
    text-align: left;
    overflow-y: hidden;
}
.fans3text{
    width: 90%;
    max-width: 48.1rem;
    margin: 6.1rem 0  auto 0;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}
.chat-container{
    display: flex;
    flex-direction: column;
    max-width: 51.3rem;
    width: 71.25%;
    margin: 0 0 0 0;
}
.chat1{
    background-color: #fffffd;
    height: 9.9rem;
    width: 100%;
    overflow-y: hidden;
    align-self: center;
}
.arrow{
    height: 20px;
    width: 11.399999618530273px;
    margin: 40px 0 39px 18px;
}
.chatimage{
    margin: 21px 0 23px 23.6px;
}
.chatname{
    font-family: DM Sans;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 36px 0 36px 13px;
}
.received-chat{
    align-self: flex-end;
    margin-top: 5.3rem;;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 20px;
    max-width: 37.9rem;  
    padding: 15px 15px 18px 15px;
    position: relative;
    overflow-y: hidden;

}
.received-chat p{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
   
}
.time{
    position: absolute;
    bottom:3px;
    right:15px;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

   
}
.sent-chat{
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0px;
    margin-top: 3rem;
    max-width: 30.5rem;
    width: auto;  
    padding: 15px 15px 18px 15px;
    position: relative;
    overflow-y: hidden;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}
.time2{
    position: absolute;
    bottom:3px;
    left:15px;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.newchat{
    white-space: nowrap;
    max-width: 51.3rem;
    width: 100%;
    margin-top: 6.3rem;
    height: 9.9rem;
    background-color: #FFFFFD;
    overflow: hidden;
    
}
.input{
    display: inline-block;
    white-space: nowrap;
    margin: 1.5rem 0 3rem 1.5rem;
    max-width: 44.1rem;
    width: 80%;
    height: 54px;
    background-color:#F3F3F3;
    border-radius: 10px;
    overflow: hidden;

}
.input p{
    margin: 1.4rem 5.895rem 1.3rem 1.5rem;
    max-width: 27.5rem;
    width: 50%;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: left;
    display: inline-block;

}
.attach{
    display: inline-block;
    margin: 1.294rem 2.97rem 1.294rem 0;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.mic{
    display: inline-block;
    max-width: 100%;
    margin: 1.294rem 2.97rem 1.294rem 0;
    height: 32px;
    overflow: hidden;
}
.send{
    margin: 30px 19px 45px 13.97px;
    width: 24px;
    height: 24px;
}
.influencers{
    display: flex;
    
}
.influencersphone{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.influencersphone img{
    max-width: 100%;
    margin-top: 5rem;
    width: 60%;
}
.influencerstext{
    width: 50%;
    margin-top: 17.6rem;
}
.influencerstextimg{
    max-width: 42.1rem;
    width: 80%;
    margin: 4.6rem auto 4.6rem 1.5;

}
.influencerstext img{
    margin: 17.1rem 0px 0 0px;
}
.influencerstext .headertext{
    margin: 4.6rem auto 0 0;
    width: 80%;
    min-width: 35rem;
    max-width: 42.1rem;
    font-family: DM Sans;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
    overflow-y: hidden;
}
.influencerstext .maintext{
    margin: 4.6rem auto 10% 0;
    width: 80%;
    max-width: 42.1rem;
    min-width: 32rem;

    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.filter{
    display: flex;
    width: 100%;
    background-image: url("./assets/noise.png");
}
.call{
    background-color: #272727;
    width: 50%;

}

.filtertext{
    width: 50%;
    background-color: #202020;
    color: #ffffff;

}


.innerrect{
    max-width: 51.3rem;
    width: 71.25%;
    height: 49rem;
    margin: -12px 12.08% 17.2rem 16.66%;
    border:solid 15px#2E2E2E ;
    border-radius: 0px 0px 20px 20px;
    overflow-y: hidden;

}


.calltab{
    max-width: 51.4rem;
    background-color: #363636;
    width: 100%;
    height: 49rem;
    margin-top: 17.5rem;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid #363636;

}
.caller{
    display: flex;
    color: #ffffff;
    justify-content:space-evenly;
    align-content: center;
    margin-top: 7.3rem;
}
.callerimg{
    max-width: 100%;
}
.callermessage{
    align-items: center;
    font-size: 2rem;
    max-width: 36.7rem;
    width: 70%;

}
.callermessage span{
    font-weight: 700;
}
.acceptordecline{
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    max-width:43.6rem ;
    margin: 0 auto;
    margin-top: 4.2rem;
    margin-bottom: 8.5rem;
}

.decline{
    background-color: #E34D4D;
    padding: 12px 65px;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: cent;
    border-radius: 8px;



}
.accept{
    background-color: #029C56;
    padding: 12px 65px;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 8px;

}
.filtericon{
    max-width: 6.4rem;
    

}
.influencer{
    max-width: 100%;
}
.influencerpill2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 42.1rem;
    width: 66.7%;
    margin: 15.1rem auto 0 auto;
}
.influencerpilldiv{
    display: flex;
    justify-content: center;
    padding: 0.7rem 1.8rem;
    font-family: 'DM Sans';
    width: 11rem;
    height: 3.2rem;
    font-family: DM Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.9rem;
    letter-spacing: -0.03em;
    text-align: left;
    background-color:#FF8C62 ;
    color: #000000;
    border-radius: 50px;

}

.filterheader{
    max-width: 42.1rem;
    margin: 6rem auto 0 auto;
    width: 66.7%;
    font-family: DM Sans;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
    overflow: hidden;

}
.filtermaintext{
    max-width: 42.1rem;
    margin: 3.2rem auto 0 auto;
    width: 66.7%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 10%;

}
.featuresheader{
    max-width: 37.1rem;
    min-width: 25rem;
    width:25.76%;
    margin: 13.1rem auto 0 8.33%;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #007640;
    overflow: hidden;

}

.featurescontainer{
    display: flex;
    max-width: 110.2rem;
    width: 90%;
    margin: auto;
}
.easeofuse{

}
.roadmap{
    display: flex;
    width: 50%;
    margin-top: 10%;
    margin-left: 0;
}
.bullets{
    width: 3%;
    margin: 1rem 0 100% 0;
    height: 35rem;

}
.vertline{
    display: inline-block;
    position: absolute;
    border-left: solid 1px rgba(0, 0, 0, 0.3);
    margin-left: 0rem;
    margin-left: 4.8rem;
    /* height: 100%; */
    top: 5%;
    left: -3.85rem;
    bottom: 32%;
}
.forline{
    position: relative;
}
.bullets div{
    width: 100%;
    height: 45%;
}
.bullettext{
    width: 80%;
    margin-left: -1.2rem;
    position: relative;
}
.easeheader,.easetext{
    margin-left: 4.8rem;
}
.easeheader{
    max-width: 48.1rem;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.03em;
    text-align: left;

}
.bullet{
    display: inline-block;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border: solid 1px black;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 50;
    left: 0rem;
    margin-top: 1rem;
    margin-bottom: auto;
}
.innerbullet{
    display: block;
    width: 60%;
    height: 60%;
    background-color:rgba(0, 0, 0, 0.2) ;
    border-radius: 50%;
    margin: 20%;

}
.easetext{
    max-width: 37.9rem;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 8rem;

}
.roadmapimage{
    width: 50%;
    display:flex;
    justify-content: flex-start;
}
.roadmapimg{
    max-width: 100%;
    height: auto;
    margin-right: 11%;
}
.calltoaction{
    display: flex;
    justify-content: center;
    margin-top: -30.3rem;
    }
.ctacontainer{
    display: flex;
    background-color:#029F58 ;
    background-image: url("./assets/noise.png");
    border-radius: 100px;
    /* max-width: 130rem; */
    /* max-height: 62.3rem; */

    width: 90%;
    height: auto;

}
.ctaimagescontainer{
    margin: 10.5rem 0 0 8.58%;
    max-width: 35.9rem;
    width: 38.5%;
    position: relative;
    overflow: hidden;
    
}
.ctatext{
    width: 61.5%;
}
.ctaimage1{
    width: 100%;
}
.ctaimage2{
    width: 42%; 
}
.ctaimage2{
    position: absolute;
    max-width: 15rem;
    max-height: 26.8rem;
    top: 8.4%;
    left: 41.5%;
    right: 20%;
}
.ctaheadertext{
    /* max-width: 49rem; */
    height: auto;
    /* width: 66.39%; */
    margin: 21.7% auto 0 7.45%;
    color: #ffffff;
    overflow: hidden;
    font-family: DM Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.03em;
    text-align: left;

}
.ctasidetext{
    max-width: 49rem;
    height: auto;
    width: 66.39%;
    margin: 3.2rem auto 0 7.45%;
    color: #ffffff;
    overflow: hidden;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.ctastores{
    display: flex;
    margin: 4.438rem auto 0 5%;

}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13.1rem;
    margin-bottom: 8rem;
}
.enteremail{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-end;
    border-top: solid 1px rgba(18, 18, 18, 0.302);


}
.enteremail p{
    width: 90%;
    max-width: 89.2rem;
    margin-top: 6.3rem;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;



}
.emailinput{
    margin-right: 0;
    max-width: 89.2rem;
    width: 90%;
    white-space: nowrap;
    background-color: #121212;
    border-radius: 10px;
    margin-top: 2.4rem;


}
.emailinput span{
    display: inline-block;
    width: 20%;
    font-family:"Neue Haas Grotesk Display Pro";
    padding: auto;
    margin: auto 5%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-align: left;
    color: #ffffff;

}
.emailinput input{
    width: 80%;
    height: 5.6rem;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.footeritems{
    display: flex;
    width: 90%;
    justify-content: space-between ;
    
}
.socialmedia{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}
.socialmedia img{
    max-width: 100%;
    /* width: 4.8rem;
    height: 4.8rem; */
    margin-top: 3.14rem;
    margin-right: 3.1rem;
}
.links{
    display: flex;
    flex-direction: column;
}
.footerheading{
    margin-bottom: 3.2rem;
    margin-top: 8rem;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}
.links p, .gethelp p,.download p, .resources p{
    margin-bottom: 2.4rem;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;

}

@media screen and (max-width: 800px) {
    #navbar{
        display: none;
    }
   
    .hamburger > div{
        border-bottom: solid 2px black;
        margin-bottom:  5px;
        
    }
    .hamburger{
        display: inline-block;
        margin: 10px 0px 0 0px;

    }
    .hamburger i{
        font-size:2em;
        color: #ffffff;
    }
    .home-text-header{
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.1rem;
        margin: 0px 12px 40px 12px;

    }
    header{
        margin-bottom: 3rem;
    }
    .home-text{
        color: #ffffff;
        text-align: center;
        margin: 0px 40px 40px 40px;
    }
 
    .connect{
        display: flex;
        flex-direction: column;
        
    }
    .connecttext{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .connect-image{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10.9rem;
    }
    .pillimg1{
        max-width: 100%;
        height: auto;
    }
    
    .chat{
        width: 100%;
        height: auto;
        z-index: 300;
    }
    

    .fans3{
        display: flex;
        flex-direction: column;
    }
    .fans3text{
        padding-bottom: 9rem;
    }
    .assurance{
        width: 100%;
    }
    .input{
        display: inline-block;
        white-space: nowrap;
        margin: 1.5rem 0 3rem 1.5rem;
        max-width: 44.1rem;
        width: 75%;
        height: 54px;
        background-color:#F3F3F3;
        border-radius: 10px;
        overflow: hidden;
    
    }
    .input p{
        margin: 1.4rem 0.5rem 1.3rem 1rem;
        max-width: 27.5rem;
        width: 60%;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.7rem;
        text-align: left;
        display: inline-block;
    
    }
    .input{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .input span{
        display: inline-block;
        margin: 1.4rem 0 1.3rem 0;

    }
    .attach{
        display: none;
        display: inline-block;
        margin: auto 0 auto auto ;
        width: 40%;   
        height: auto;
        overflow: hidden;
    }
    .input{
       white-space: nowrap;
    }
    
    .mic{
        display: inline-block;
        width: 40%;
        margin: auto 0 auto auto ;
        margin-right: 0.5rem;
        height: auto;
        overflow: hidden;
    }
    .send{
        margin: 30px 19px 45px 13.97px;
        width: 2.4rem;
    }
    .newchat{
        display: flex;
    }
.chatspacer, .assurancecontainer{
    margin-left: 5%;
    margin-right: 5%;
}
    
  
    .influencers{
        flex-wrap: wrap;
        
    }
    .influencersphone{
        width: 100%;
        
    }
    .influencersphone img{
        margin-bottom: 3rem;
        margin-left: 0;
    }
    .influencerstext{
        width: 90%;
        margin:auto ;
        flex-direction: column;
        align-self: center;
     }
     .influencerstextimg{
         display: flex;
         justify-content: flex-start;
     }
     .influencerstext{

     }
     .influencerstext img{
         margin-top: 5%;
     }
     .headertext, .maintext{
        margin: 4.6rem auto 0 auto;

     }
     .filter{
         flex-wrap: wrap;
     }
     .call{
        width: 100%;

     }
     .filtertext{
         width: 100%;
     }
    
     .decline,.accept{
        padding: 3px 22px;
        font-size: 1.8rem;
     }
     .acceptordecline{
        max-width:22.6rem ;

     }
     .featurescontainer{
         flex-direction: column;
     }
     .roadmap{
         flex-direction: row;
     }
     .roadmapimage, .roadmap{
         width: 100%;
     }
     .ctaimage2{
        position: absolute;
        max-width: 15rem;
        max-height: 26.8rem;
        top: 7.8%;
        left: 41.6%;
    }
    .ctacontainer{
        flex-wrap: wrap;
        max-height: none;
    }
    .ctatext{
        margin-bottom:15.2rem ;

    }
    .ctaimagescontainer, .ctatext{
        width: 100%;
    }
    .ctastores{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .ctaheadertext{
        font-size: 4.2rem;
        line-height: 4.3rem;
    }
    
    
    
  }
   @media screen and (max-width: 350px) {
    .bullets, .bullet{
        display: none;
        
    }
 

  } 
  @media screen and (max-width: 480px) {
    .bullets{
        width: 20%;
        margin: 1rem 0 1rem 0;
        height: 45rem;
    
    }
    .vertline{
        bottom: 38%;
    }
  } 