*{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;  
}
body{
    width:100%;
}
html{
    font-size: 62.5%;
}

.menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hamburger{
    display: none;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

#logo img{
    width: 100%;
}
header{
   
    width: 90%;
    margin: 0 auto;
    margin-bottom: 13.6rem;
}
#navbar ul li {
    display: inline-block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 116.6%;
    margin-right: 3.25rem;
}
ul li a{
    text-decoration: none;
    color:#ffffff;
}
.home{
    padding-top: 47.24px;
    background-color: #029F58;
    background-image: url("./assets/Rectangle.png");
    overflow-y: hidden;
}
/* #navbar{
    float: right;
} */
.home-main{
  display: flex;
  width: auto;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  height: auto;
    
}
.home-text-header{
    max-width: 100rem;
    font-family: DM Sans; 
    font-size: 13rem;
    font-weight: 700;
    line-height: 12.3rem;
    letter-spacing: -0.06em;
    color: #ffffff;
    margin: 0 7.5rem 2.5rem 7.5rem;
    text-align: center;
    overflow-y: hidden ;
    height: auto;
    
}
.home-text{
    max-width: 55rem;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin: 4rem auto 0 auto;
}
.stores{
    display: flex;
    justify-content: center;
    margin-top: 8.2rem;
  
}
.store-img1{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 20px;
}
 .store-img2{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 20px;
}
.home-images{
    display: flex;
    justify-content: center;
    position: relative;
}
.h-image1, .h-image3{
    bottom: 0%;
    position: absolute;
    max-width: 70%;
}
.h-image2{
    z-index: 100;
    max-width: 70%;
    margin-right: 15%; 
}
.h-image1{
    left: -7%;
}
.h-image3{
    right: 0%;
}
.for-fans{
   
   background-image: url("./assets/noise.png");
   position: relative;
   height: auto;
   height: 50rem; 
   overflow-y: hidden;

}
.forfans-header-text{
    margin: 10% 6% 0 6%;
    max-width: 50rem;
    font-family: DM Sans;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7.3rem;
    letter-spacing: -0.03em;
    text-align: left;
    overflow-y: hidden;
    color: #007640;
}

.forfans-img1{
    position: absolute;
    z-index: -100;
    max-width: 100%;
    min-width: 10%;
    height: auto;
    width: 10%;
    top: 4rem;
    left: 4.7rem;
    }
.forfans-img2{
    position: absolute;
    width: 30%;
    z-index: -100;
    right: 4.2rem;
    top: -10%;
}

.forfans-text{
    margin: 0 6% 15rem 6%;
    max-width: 68.3rem; 
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    z-index: 500;
}
.connect{
    /* height: 662px; */
    overflow-y: hidden;
    display: flex;
}



.connecttext{
    width: 50%;
}
.connect-image{
    display: flex;
    width: 50%;
}
.pillimg1{
    max-width: 100%;
    margin: auto;


}
.fans3{
    /* width:100% */
}
.connectpill{
    max-width: 40.1rem;
    margin: 4.7rem auto 0 auto;
}
.fansheader{
max-width: 40.1rem;
margin: 4.7rem auto 0 auto;
font-family: DM Sans;
font-size: 6.8rem;
font-style: normal;
font-weight: 500;
line-height: 6.87rem;
letter-spacing: -0.03em;
text-align: left;
overflow-y:hidden ;

}
.fanstext{
    width: 90%;

    max-width: 40.1rem;
    margin: 3.2rem auto 9.7rem auto;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.fans3{
    display: flex;
    position: relative;
    background-image: url("./assets/noise.png");
    background-color: #F0F0E6;
}
.assurance{
    width: 50%;
    position: relative;
    height: auto;
    background-color:#039352;
    overflow-y: hidden;
  
}
.assurance-images{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 48.1rem;
    margin: 12.6rem auto 0 auto;
}
.chat{
    width: 50%;
    height: auto;
    z-index: 300;
}
.fans3pill{
    width: 100px;
    height: 32px;
}
.chaticon{
    width: 64px;
    height: 64px;
    right: 120px;
    top: 126px;
}
.fans3header{
    width: 90%;

    height: 136px;
    max-width: 48.1rem;
    margin: 6.1rem auto  0 auto;
    font-family: DM Sans;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.8rem;
    letter-spacing: -0.03em;
    color: #ffffff;
    text-align: left;
    overflow-y: hidden;
}
.fans3text{
    width: 90%;
    max-width: 48.1rem;
    margin: 6.1rem auto  auto auto;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}
.chat-container{
    display: flex;
    flex-direction: column;
    max-width: 51.3rem;
    width: 71.25%;
    margin: 0 16.6% 0 12%;
}
.chat1{
    background-color: #fffffd;
    height: 9.9rem;
    width: 100%;
    overflow-y: hidden;
    align-self: center;
}
.arrow{
    height: 20px;
    width: 11.399999618530273px;
    margin: 40px 0 39px 18px;
}
.chatimage{
    margin: 21px 0 23px 23.6px;
}
.chatname{
    font-family: DM Sans;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 36px 0 36px 13px;
}
.received-chat{
    align-self: flex-end;
    margin-top: 5.3rem;;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 20px;
    max-width: 37.9rem;  
    padding: 15px 15px 18px 15px;
    position: relative;
    overflow-y: hidden;

}
.received-chat p{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
   
}
.time{
    position: absolute;
    bottom:3px;
    right:15px;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

   
}
.sent-chat{
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0px;
    margin-top: 3rem;
    max-width: 30.5rem;
    width: auto;  
    padding: 15px 15px 18px 15px;
    position: relative;
    overflow-y: hidden;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}
.time2{
    position: absolute;
    bottom:3px;
    left:15px;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.newchat{
    white-space: nowrap;
    max-width: 51.3rem;
    width: 100%;
    margin-top: 6.3rem;
    height: 9.9rem;
    background-color: #FFFFFD;
    overflow: hidden;
    
}
.input{
    display: inline-block;
    white-space: nowrap;
    margin: 1.5rem 0 3rem 1.5rem;
    max-width: 44.1rem;
    width: 80%;
    height: 54px;
    background-color:#F3F3F3;
    border-radius: 10px;
    overflow: hidden;

}
.input p{
    margin: 1.4rem 5.895rem 1.3rem 1.5rem;
    max-width: 27.5rem;
    width: 50%;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: left;
    display: inline-block;

}
.attach{
    display: inline-block;
    margin: 1.294rem 2.97rem 1.294rem 0;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.mic{
    display: inline-block;
    max-width: 100%;
    margin: 1.294rem 2.97rem 1.294rem 0;
    height: 32px;
    overflow: hidden;
}
.send{
    margin: 30px 19px 45px 13.97px;
    width: 24px;
    height: 24px;
}
.influencers{
    display: flex;
    
}
.influencersphone{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.influencersphone img{
    max-width: 100%;
    margin-top: 5rem;
    width: 60%;
}
.influencerstext{
    width: 50%;
}
.influencerstextimg{
    max-width: 42.1rem;
    width: 80%;
    margin: 4.6rem auto 4.6rem 1.5;

}
.influencerstext img{
    margin: 17.1rem 0px 0 0px;
}
.influencerstext .headertext{
    margin: 4.6rem auto 0 0;
    width: 80%;
    min-width: 35rem;
    max-width: 42.1rem;
    font-family: DM Sans;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
    overflow-y: hidden;
}
.influencerstext .maintext{
    margin: 4.6rem auto 0 0;
    width: 80%;
    max-width: 42.1rem;
    min-width: 32rem;

    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.filter{
    display: flex;
    width: 100%;
    background-image: url("./assets/noise.png");
}
.call{
    background-color: #272727;
    width: 50%;

}

.filtertext{
    width: 50%;
    background-color: #202020;
    color: #ffffff;

}
.influencerpill2{
    display: flex;
    justify-content: space-between;
}


.innerrect{
    max-width: 51.3rem;
    width: 71.25%;
    height: 49rem;
    margin: -12px 12.08% 17.2rem 16.66%;
    border:solid 15px#2E2E2E ;
    border-radius: 0px 0px 20px 20px;
    overflow-y: hidden;

}


.calltab{
    max-width: 51.4rem;
    background-color: #363636;
    width: 100%;
    height: 49rem;
    margin-top: 17.5rem;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid #363636;

}
.caller{
    display: flex;
    color: #ffffff;
    justify-content:space-evenly;
    align-content: center;
    margin-top: 7.3rem;
}
.callerimg{
    max-width: 100%;
}
.callermessage{
    align-items: center;
    font-size: 2rem;
    max-width: 36.7rem;
    width: 70%;

}
.callermessage span{
    font-weight: 700;
}
.acceptordecline{
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    max-width:43.6rem ;
    margin: 0 auto;
    margin-top: 4.2rem;
    margin-bottom: 8.5rem;
}

.decline{
    background-color: #E34D4D;
    padding: 12px 65px;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: cent;
    border-radius: 8px;



}
.accept{
    background-color: #029C56;
    padding: 12px 65px;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 8px;

}
.filtericon{
    max-width: 6.4rem;
    

}
.influencer{
    max-width: 100%;
}
.influencerpill2{
    max-width: 48.1rem;
    width: 66.7%;
    margin: 15.1rem auto 0 auto;
}
.filterheader{
    max-width: 48.1rem;
    margin: 6rem auto 0 auto;
    width: 66.7%;
    font-family: DM Sans;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
    overflow: hidden;

}
.filtermaintext{
    max-width: 48.1rem;
    margin: 3.2rem auto 0 auto;
    width: 66.7%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}
.featuresheader{
    max-width: 37.1rem;
    min-width: 25rem;
    width:25.76%;
    margin: 13.1rem auto 0 8.33%;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #007640;
    overflow: hidden;

}
@media screen and (max-width: 800px) {
    #navbar{
        display: none;
    }
   
    .hamburger > div{
        border-bottom: solid 2px black;
        margin-bottom:  5px;
        
    }
    .hamburger{
        display: inline-block;
        margin: 10px 0px 0 0px;

    }
    .hamburger i{
        font-size:2em;
        color: #ffffff;
    }
    .home-text-header{
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.1rem;
        margin: 0px 12px 40px 12px;

    }
    header{
        margin-bottom: 3rem;
    }
    .home-text{
        color: #ffffff;
        text-align: center;
        margin: 0px 40px 40px 40px;
    }
 
    .connect{
        display: flex;
        flex-direction: column;
        
    }
    .connecttext{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .connect-image{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10.9rem;
    }
    .pillimg1{
        max-width: 100%;
        height: auto;
    }
    
    .chat{
        width: 100%;
        height: auto;
        z-index: 300;
    }
    

    .fans3{
        display: flex;
        flex-direction: column;
    }
    .fans3text{
        padding-bottom: 9rem;
    }
    .assurance{
        width: 100%;
    }
    .input{
        display: inline-block;
        white-space: nowrap;
        margin: 1.5rem 0 3rem 1.5rem;
        max-width: 44.1rem;
        width: 75%;
        height: 54px;
        background-color:#F3F3F3;
        border-radius: 10px;
        overflow: hidden;
    
    }
    .input p{
        margin: 1.4rem 0.5rem 1.3rem 1rem;
        max-width: 27.5rem;
        width: 60%;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.7rem;
        text-align: left;
        display: inline-block;
    
    }
    .input{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .input span{
        display: inline-block;
        margin: 1.4rem 0 1.3rem 0;

    }
    .attach{
        display: none;
        display: inline-block;
        margin: auto 0 auto auto ;
        width: 40%;   
        height: auto;
        overflow: hidden;
    }
    .input{
       white-space: nowrap;
    }
    
    .mic{
        display: inline-block;
        width: 40%;
        margin: auto 0 auto auto ;
        margin-right: 0.5rem;
        height: auto;
        overflow: hidden;
    }
    .send{
        margin: 30px 19px 45px 13.97px;
        width: 2.4rem;
    }
    .newchat{
        display: flex;
    }
    
  
    .influencers{
        flex-wrap: wrap;
        
    }
    .influencersphone{
        width: 100%;
        
    }
    .influencersphone img{
        margin-bottom: 3rem;
        margin-left: 0;
    }
    .influencerstext{
        width: 90%;
        margin:auto ;
        flex-direction: column;
        align-self: center;
     }
     .influencerstextimg{
         display: flex;
         justify-content: flex-start;
 
     }
     .influencerstext img{
         margin-top: 5%;
     }
     .headertext, .maintext{
        margin: 4.6rem auto 0 auto;

     }
     .filter{
         flex-wrap: wrap;
     }
     .call{
        width: 100%;

     }
     .filtertext{
         width: 100%;
     }
    
     .decline,.accept{
        padding: 3px 22px;
        font-size: 1.8rem;
     }
     .acceptordecline{
        max-width:22.6rem ;

     }
    
    
  }
  /* @media screen and (max-width: 800px) {
    #navbar{
        display: inline-block;
        
    }
    #logo{
        margin: 2.98rem 1rem 0 7.4rem;
        display: inline-block;
    }
    header{
        margin-bottom: 136px;
        white-space: nowrap;
    }
    #navbar ul li {
        display: inline-block;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 116.6%;
        margin-right: 3.25rem;
    }

  } */