*{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
body{
    width:100%;
    font-family: 'DM Sans'; 

}
html{
    font-size: 62.5%;
}

.menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hamburger{
    display: none;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo img{
    width: 100%;
}
header{
   
    width: 90%;
    margin: 0 auto;
}
#navbar ul li {
    display: inline-block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 116.6%;
    margin-right: 3.25rem;
    overflow-y: hidden;  

}
ul li a{
    text-decoration: none;
    color:#ffffff;
}
.home{
    padding-top: 4.724rem;
    background-color: #029F58;
    background-image: url("./assets/Rectangle.png");
    overflow-y: hidden;
}
/* #navbar{
    float: right;
} */
.home-main{
  display: flex;
  width: auto;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  height: auto;
    
}
.home-text-header{
    width: 120rem;
    font-family: DM Sans; 
    font-size: 13rem;
    font-weight: 700;
    line-height: 12.3rem;
    letter-spacing: -0.06em;
    color: #ffffff;
    margin: 13.6rem 12rem 2.5rem 12rem;
    text-align: center;
    overflow-y: hidden ;
    height: auto;
    
}
.home-text{
    width: 58.8rem;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin: 4rem 42.6rem 0 42.6rem;
}
.stores{
    display: flex;
    justify-content: center;
    margin-top: 8.2rem;
  
}
.store-img1{
    display: inline-block;
    max-width: 100%;
    min-width: 30%;
    height: auto;
    width: 26rem;
    margin-right: 2.6rem;
    margin-left: 44.7rem;

}
 .store-img2{
    display: inline-block;
    max-width: 100%;
    min-width: 30%;
    height: auto;
    width: 26rem;
    margin-right: 44.7rem;
}
.home-images{
    display: flex;
    justify-content: center;
    position: relative;
}
.h-image1, .h-image3{
    bottom: 0%;
    position: absolute;
    max-width: 70%;
}
.h-image2{
    z-index: 100;
    max-width: 70%;
    margin-right: 15%; 
}
.h-image1{
    left: -7%;
}
.h-image3{
    right: 0%;
}
.for-fans{
   
   background-image: url("./assets/noise.png");
   position: relative;
   height: auto;
   overflow-y: hidden;

}


.forfans-header-text{
    margin: 14.3rem  73.6rem 0 12.2rem;
    width: 58.2rem;
    font-family: DM Sans;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7.3rem;
    letter-spacing: -0.03em;
    text-align: left;
    overflow-y: hidden;
    color: #007640;
}

.forfans-img1{
    position: absolute;
    max-width: 100%;
    z-index: -100;
    width:16.912rem;
    min-width: 10%;
    height: 19.171;
    top: 4.59rem;
    left: 4.75rem;
    right: 122.327;
    }
.forfans-img2{
    position: absolute;
    max-width: 100%;
    width: 48.952rem;
    height: 55.337rem;
    z-index: -100;
    left: 87.165rem;
    top: -18.235rem;
}
.forfans1text{
    width: 1440rem;
    height: 56rem;
}
.forfans-text{
    width: 68.3rem; 
    margin: 3.1rem 63.5rem 15rem 12.2rem;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    z-index: 500;

}
.connect{
    /* height: 662px; */
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;

}



.connecttext{
    
width: 50%;
margin-left: 12.9rem;
}
.connect-image{
    display: flex;
    justify-content: center;
    width: 50%;
}
.cimagecontainer{
    margin-top: 11.4rem;

}
.pillimg1{
    max-width: 100%;


}
.fans3{
    width:100%;
    display: flex;
    
}
.connectpill{
    max-width: 100%;
    margin: 13.4rem 0 0 0;
}
.fansheader{
max-width: 50.1rem;
margin: 4.7rem 0 0 0;
font-family: DM Sans;
font-size: 6.8rem;
font-style: normal;
font-weight: 500;
line-height: 6.87rem;
letter-spacing: -0.03em;
text-align: left;
overflow-y:hidden ;

}
.fanstext{

    width: 48.1rem;
    margin: 3.2rem 0 9.7rem 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;

}
.fans3{
    display: flex;
    width: 100%;
    /* position: relative; */
    background-image: url("./assets/noise.png");
    background-color: #F0F0E6;
}
.assurance{
    width: 50%;
    position: relative;
    height: auto;
    background-color:#039352;
    overflow-y: hidden;
  
}
.assurancecontainer{
    margin-left: 12rem;
    width: 48.9rem;

}
.chatspacer{
    display: flex;
    justify-content: center;
    margin-right: 12.0rem;
    margin-left: 8.7rem;
}
.assurance-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 48.1rem;
    margin: 10% 0 0 0;
}
.chat{
    width: 50%;
    height: auto;
    z-index: 300;
}
.fans3pill{
    width: 10rem;
    height: 3.2rem;
}
.chaticon{
    width: 6.4rem;
    height: 6.4rem;
    right: 12rem;
    top: 12.6rem;
}
.fans3header{
    width: 90%;

    height: 13.6rem;
    max-width: 48.1rem;
    margin: 6.1rem 0  0 0;
    font-family: DM Sans;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.8rem;
    letter-spacing: -0.03em;
    color: #ffffff;
    text-align: left;
    overflow-y: hidden;
}
.fans3text{
    width: 90%;
    max-width: 48.1rem;
    margin: 6.1rem 0  0rem 0;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}
.chat-container{
    display: flex;
    flex-direction: column;
    width: 51.3rem;
    margin: 0 0 0 0;
}
.chat1{
    background-color: #fffffd;
    height: 9.9rem;
    width: 100%;
    overflow-y: hidden;
    align-self: center;
}
.arrow{
    height: 2rem;
    width: 1.1rem;
    margin: 4rem 0 3.9rem 1.8rem;
}
.chatimage{
    margin: 2.1rem 0 2.3rem 2.36rem;
}
.chatname{
    font-family: DM Sans;
    display: inline-block;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.7rem;
    letter-spacing: 0em;
    text-align: left;
    margin: 3.6rem 0 3.6rem 1.3rem;
}
.received-chat{
    margin: 5.3rem 0 0 auto;
    background-color: #ffffff;
    border-radius: 2rem 2rem 0px 2rem;
    width: 37.9rem;  
    padding: 1.5rem 1.5rem 1.8rem 1.5rem;
    position: relative;
    overflow-y: hidden;

}
.received-chat p{
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    letter-spacing: 0em;
    text-align: left;
   
}
.time{
    position: absolute;
    bottom:0.3rem;
    right:1.5rem;
    font-family: DM Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;

   
}
.sent-chat{
    background-color: #ffffff;
    border-radius: 2rem 2rem 2rem 0;
    margin: 3rem 0 auto 0rem;
    width: 21.2rem; 
    padding: 1.5rem 1.5rem 1.8rem 1.5rem;
    position: relative;
    overflow-y: hidden;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    letter-spacing: 0em;
    text-align: left;

}
.sent-chat2{
    background-color: #ffffff;
    border-radius: 2rem 2rem 2rem 0;
    margin: 3rem auto 0 0rem;
    width: 30.5rem;
    width: auto;  
    padding: 1.5rem 1.5rem 1.8rem 1.5rem;
    position: relative;
    overflow-y: hidden;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    letter-spacing: 0em;
    text-align: left;

}
.time2{
    position: absolute;
    bottom:0.3rem;
    left:1.5rem;
    font-family: DM Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
}
.newchat{
    white-space: nowrap;
    margin-bottom: 0%;
    width: 51.3rem;
    margin-top: 6.3rem;
    height: 9.9rem;
    background-color: #FFFFFD;
    overflow: hidden;
    
}
.input{
    display: inline-block;
    white-space: nowrap;
    margin: 1.5rem 0 3rem 1.5rem;
    max-width: 44.1rem;
    width: 80%;
    height: 5.4rem;
    background-color:#F3F3F3;
    border-radius: 1rem;
    overflow: hidden;

}
.input p{
    margin: 1.4rem 5.895rem 1.3rem 1.5rem;
    max-width: 27.5rem;
    width: 50%;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: left;
    display: inline-block;

}
.attach{
    display: inline-block;
    margin: 1.294rem 2.97rem 1.294rem 0;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.mic{
    display: inline-block;
    max-width: 100%;
    margin: 1.294rem 2.97rem 1.294rem 0;
    height: 3.2rem;
    overflow: hidden;
}
.send{
    margin: 3rem 1.9rem 4.5rem 1.397rem;
    width: 2.4rem;
    height: 2.4rem;
}
.influencers{
    display: flex;
    
}
.influencersphone{
    width: 50%;
    display: flex;
    margin-top: 9.4rem;
    justify-content: center;
    
}
.influencersphone img{
    max-width: 100%;
}
.influencerstext{
    width: 50%;
    margin-top: 17.8rem;
}
.influencerstextimg{
    width: 48.1rem;
    margin: 0 auto 0rem 1.5rem;

}
.influencerstext img{
    margin: 17.1rem 0px 0 0px;
}
.influencerstext .headertext{
    margin: 4rem auto 0 1.5rem;
    width: 48.1rem;
    height: auto;
    font-family: DM Sans;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.875rem;
    letter-spacing: -0.03em;
    text-align: left;
    overflow-y: hidden;
}
.influencerstext .maintext{
    margin: 3.2rem auto auto 1.5rem;
    max-width: 48.1rem;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0em;
    text-align: left;

}
.filter{
    display: flex;
    width: 100%;
    background-image: url("./assets/noise.png");
}
.call{
    background-color: #272727;
    width: 50%;

}

.filtertext{
    width: 50%;
    background-color: #202020;
    color: #ffffff;

}


.innerrect{
    width: 51.3rem;
    margin: -0.6rem 8.7rem 17.2rem 12rem;
    border:solid 15px#2E2E2E ;
    border-radius: 0px 0px 20px 20px;
    overflow-y: hidden;
    box-sizing: content-box;

}


.calltab{
    width: 51.4rem;
    background-color: #363636;
    height: 31.6rem;
    margin: 17.9rem 0 -0.7rem 0;
    border-radius: 2rem 2rem 2rem 2rem;
    overflow-y: hidden;

}
.caller{
    display: flex;
    color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    justify-content:space-between;
    align-content: center;
    margin-top: 7.3rem;
}
.callerimagecontainer{
    width: 18%;
}
.callerimg{
    max-width: 100%;
}
.callermessage{
    align-items: left;
    font-size: 1.8rem;
    width: 78%;

}
.callermessage span{
    font-weight: 700;
}
.acceptordecline{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    margin-top: 4.2rem;
    margin-bottom: 8.5rem;
}

.decline{
    background-color: #E34D4D;
    width: 20.6rem;
    height: 5.46rem;
    padding: 2% 13%;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: cent;
    border-radius: 0.8rem;



}
.accept{
    background-color: #029C56;
    padding: 2% 13%;
    width: 20.6rem;
    height: 5.46rem;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 0.8rem;

}
.filtericon{
    max-width: 6.4rem;
    

}
.influencer{
    max-width: 100%;
}
.influencerpill2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 42.1rem;
    width: 66.7%;
    margin: 15.1rem auto 0 auto;
}
.influencerpilldiv{
    display: flex;
    justify-content: center;
    padding: 0.7rem 1.8rem;
    font-family: 'DM Sans';
    width: 11rem;
    height: 3.2rem;
    font-family: DM Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.9rem;
    letter-spacing: -0.03em;
    text-align: left;
    background-color:#FF8C62 ;
    color: #000000;
    border-radius: 5rem;

}

.filterheader{
    max-width: 42.1rem;
    margin: 6rem auto 0 auto;
    width: 66.7%;
    font-family: DM Sans;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.9rem;
    letter-spacing: -0.03em;
    text-align: left;
    overflow: hidden;

}
.filtermaintext{
    max-width: 42.1rem;
    margin: 3.2rem auto 0 auto;
    width: 66.7%;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
    margin-bottom: 10%;

}
.features{
    height: 115.052rem;
    overflow: hidden;

}

.featuresheader{
    width: 37.1rem;
    margin: 13rem auto 0 12rem;
    font-size: 6.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.875rem;
    letter-spacing: -0.03em;
    text-align: left;
    color: #007640;
    overflow: hidden;

}

.featurescontainer{
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
    overflow-y: hidden;
    display: flex;
}
.easeofuse{

}
.roadmap{
    display: flex;
    width: 50%;
    margin-top: 16.3rem;
    margin-left: 12.3rem;
    z-index: 50;
    overflow-y: hidden;
}
.bullets{
    width: 3%;
    margin: 1rem 0 100% 0;
    height: 35rem;

}
.vertline{
    display: inline-block;
    position: absolute;
    border-left: solid 0.1rem rgba(0, 0, 0, 0.3);
    margin-left: 4.8rem;
    /* height: 100%; */
    top: 5%;
    left: -3.85rem;
    bottom: 32%;
}
.forline{
    position: relative;
    width: 100%;
}
.bullets div{
}
.bullettext{
    /* width: 80%; */
    margin-left: -1.2rem;
    position: relative;
    z-index: 50;

}
.easeheader,.easetext{
    margin-left: 4.8rem;
}
.easeheader{
    max-width: 48.1rem;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.198rem;
    letter-spacing: -0.03em;
    text-align: left;
    overflow-y: hidden;

}
.easeofuse{}
.bullet{
    display: inline-block;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border: solid 0.1rem black;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 50;
    left: 0rem;
    margin-top: 1rem;
    margin-bottom: auto;
}
.innerbullet{
    display: block;
    width: 60%;
    height: 60%;
    background-color:rgba(0, 0, 0, 0.2) ;
    border-radius: 50%;
    margin: 20%;

}
.easetext{
    width: 37.9rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    margin:1.6rem auto 8rem 4.8rem

}
.roadmapimage{
    width: 50%; 
   
}
.rmimagecontainer{

    margin: 0.7rem 15.8rem auto 0;
    height: 117.052rem;
    display: block;
    max-width: 100%;
    position: absolute;
    left: 55rem;
    z-index: -50;
}
.roadmapimg{
    max-width: 71.3rem;
    width: 100%;
}


.calltoaction{
    display: flex;
    justify-content: center;
    height: auto;
    z-index: 50;
    }
.ctacontainer{
    display: flex;
    margin: 0 12rem 13rem 12rem;
    background-color:#029F58 ;
    background-image: url("./assets/noise.png");
    border-radius: 10rem;

}
.ctaimagescontainer{
    margin: 10rem auto auto 10rem;
    max-width: 35.9rem;
    width: 359rem;
    height: auto;
    position: relative;
    overflow: hidden;
    
}
.ctatext{
    width: 61.5%;
}
.ctaimage1{
    width: 100%;
}
.ctaimage2{
    width: 42%; 
}
.ctaimage2{
    position: absolute;
    max-width: 15rem;
    max-height: 26.8rem;
    top: 8.4%;
    left: 41.5%;
    right: 20%;
}
.ctaheadertext{
    /* max-width: 49rem; */
    width: 120rem;
    margin: 13.5rem 19.3rem 0 auto;
    min-height: 16rem;
    color: #ffffff;
    overflow: hidden;
    font-family: DM Sans;
    font-size: 7.2rem;
    font-style: normal;
    max-width: 50rem;
    font-weight: 700;
    line-height: 7.4rem;
    letter-spacing: -0.03em;
    text-align: left;

}
.ctasidetext{
    width: 49rem;
    height: auto;
    margin:3.2rem 19.3rem  0 auto ;
    color: #ffffff;
    overflow: hidden;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;

}
.ctastores{
    display: flex;
    justify-content: space-between;
    margin: 4.438rem 13.7rem 0 auto;
    width: 54.6rem;

}
.store-img3{
    width: 26rem;
    max-width: 100%;

}
.store-img4{
    width: 26rem;
    max-width: 100%;
    
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13.1rem;
    margin-bottom: 8rem;
}
.enteremail{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-end;
    border-top: solid 1px rgba(18, 18, 18, 0.302);


}
.enteremail>p>span{
    font-weight: 700;
}
.enteremail p{
    width: 90%;
    max-width: 89.2rem;
    margin-top: 6.3rem;
    font-family: DM Sans;
    font-size: 3rem;
    font-style: normal;
    line-height: 4.5rem;
    letter-spacing: 0em;
    text-align: left;



}
.emailinput{
    margin-right: 0;
    max-width: 89.2rem;
    width: 90%;
    white-space: nowrap;
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 2.4rem;


}
.emailinput span{
    display: inline-block;
    width: 20%;
    font-family:"Neue Haas Grotesk Display Pro";
    padding: auto;
    margin: auto 5%;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0.2em;
    text-align: left;
    color: #ffffff;

}
.emailinput input{
    width: 80%;
    height: 5.6rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;

}

.footeritems{
    display: flex;
    width: 90%;
    justify-content: space-between ;
    
}
.socialmedia{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}
.socialmedia img{
    max-width: 100%;
    /* width: 4.8rem;
    height: 4.8rem; */
    margin-top: 3.14rem;
    margin-right: 3.1rem;
}
.links{
    display: flex;
    flex-direction: column;
}
.footerheading{
    margin-bottom: 3.2rem;
    margin-top: 8rem;
    font-family: "DM Sans";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.6rem;
    letter-spacing: 0em;
    text-align: left;

}
.links p, .gethelp p,.download p, .resources p{
    margin-bottom: 2.4rem;
    font-family: "DM Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.02em;
    text-align: left;

}

@media screen and (max-width: 800px) {
    #navbar{
        display: none;
    }
    html{
        font-size: 1vw;
    }
   
    .hamburger > div{
        border-bottom: solid 0.2rem black;
        margin-bottom:  0.5rem;
        
    }
    .hamburger{
        display: inline-block;
        margin: 1rem 0px 0 0px;

    }
    .hamburger i{
        font-size:2em;
        color: #ffffff;
    }
    .home-text-header{
        /* font-size: 3rem;
        font-weight: 700;
        line-height: 3.1rem;
        margin: 0px 12px 40px 12px; */

    }
    header{
        margin-bottom: 3rem;
    }
    /* .home-text{
        color: #ffffff;
        text-align: center;
        margin: 0px 40px 40px 40px;
    } */
 
    .connect{
        display: flex;
        flex-direction: column;
        
    }
    .connecttext{

    }
    .connect-image{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10.9rem;
    }
    .pillimg1{
        max-width: 100%;
        height: auto;
    }
    
    .chat{
        width: 100%;
        height: auto;
        z-index: 300;
    }
    

    .fans3{
        display: flex;
        flex-direction: column;
    }
    /* .fans3text{
        padding-bottom: 9rem;
    } */
    .assurance{
        width: 100%;
    }
    .input{
        /* display: inline-block;
        white-space: nowrap;
        margin: 1.5rem 0 3rem 1.5rem;
        max-width: 44.1rem;
        width: 75%;
        height: 54px;
        background-color:#F3F3F3;
        border-radius: 10px;
        overflow: hidden;
     */
    }
    .input p{
        /* margin: 1.4rem 0.5rem 1.3rem 1rem;
        max-width: 27.5rem;
        width: 60%;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.7rem;
        text-align: left;
        display: inline-block;
     */
    }
    .input{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .input span{
        display: inline-block;
        margin: 1.4rem 0 1.3rem 0;

    }
    .attach{
        display: none;
        display: inline-block;
        margin: auto 0 auto auto ;
        width: 40%;   
        height: auto;
        overflow: hidden;
    }
    .input{
       white-space: nowrap;
    }
    
    .mic{
        /* display: inline-block;
        width: 40%;
        margin: auto 0 auto auto ;
        margin-right: 0.5rem;
        height: auto;
        overflow: hidden; */
    }
    .send{
        /* margin: 30px 19px 45px 13.97px;
        width: 2.4rem; */
    }
    .newchat{
        display: flex;
    }
.chatspacer, .assurancecontainer{
 width: 100%;
}
    
  
    .influencers{
        flex-wrap: wrap;
        
    }
    .influencersphone img{
       display: none;
        
    }
    
    .influencerstext{
        width: 90%;
        margin:auto ;
        flex-direction: column;
        align-self: center;
     }
     /* .influencerstextimg{
         display: flex;
         justify-content: flex-start;
     }
     .influencerstextimg{
         margin-top: 10%;

     } */
     /* .influencerstext img{
         margin-top: 5%;
     } */
     .headertext, .maintext{
        /* margin: 4.6rem auto 0 auto; */

     }
     .filter{
         flex-wrap: wrap;
     }
     .call{
        width: 100%;

     }
     .filtertext{
         width: 100%;
     }
   
     .featurescontainer{
         flex-direction: column;
     }
     .bullets{
         display: none;
     }
     .bullettext{
        width: 80%;
        margin-left: 1rem;
        position: relative;
    }
     .roadmap{
         flex-direction: row;
         z-index: 50;
     }
     .roadmapimage, .roadmap{
         width: 100%;
     }
     .ctaimage2{
        position: absolute;
        max-width: 15rem;
        max-height: 26.8rem;
        top: 7.8%;
        left: 41.6%;
    }
    .rmimagecontainer{
        display: none;
    }
    .calltoaction{
        margin-top: 0;
    }
    .ctacontainer{
        /* flex-wrap: wrap; */
        /* max-height: none; */
        border-radius: 50px;
    }
    .ctatext{
        /* width: 60%; */

    }
    .ctaimagescontainer{
        width: 30%;
    }
    /* .ctastores{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 0%;
    } */
    .ctastores img{
    }
    .ctaheadertext{
        min-height: 5rem;
        font-size: 3.2rem;
        line-height: 3.1rem;
        margin-top: 20%;
    }
    .ctasidetext{
        /* font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 0%; */
        

    }
    .enteremail p{
        font-size: 2.2rem;
        width: 100%;
        max-width: 200rem;
    }
    .enteremail>p>span{
        font-weight: 700;
    }
    .emailinput{
        width: 100%;
    }
    .emailinput input{
        width: 65%;
        font-size: 1.6rem;
    }
     #submit{
        display: inline-block;
        width: 35%;
        min-width:30rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    .footeritems{
        flex-direction: column;
        align-items: center;
    } 
    .footeritems > div{
        border-top: solid 1px rgba(18, 18, 18, 0.3);
        width: 60%;

    }

    #social{
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-top: none;
    }
     
    
    
  }
  @media screen and (max-width: 478px) {
    .calltoaction{
        /* margin-top: 0; */
    } 
    .ctaheadertext{
        /* min-height: 6rem;
        max-width: 15rem;
        font-size: 2.2rem;
        line-height: 2.3rem;
        margin-top: 5%;
        margin-bottom: 0%; */
    }
    .ctasidetext{
        /* margin-top: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; */
        

    }
    .ctatext{
        width: 75%;
    }
    .ctaimagescontainer{
        width: 25%;
    }
    .ctastores{
        display: flex;
        width: 100%;
        flex-direction: row;
        /* justify-content: flex-start; */
        margin-top: 0%;
        margin-left: 0%;
        z-index: 100;
    }
    .ctastores img{
        min-width: 8.5rem;
        margin-top: 0.5rem;
    }
    .ctacontainer{
        width: 100%;
    }


}
@media screen and (max-width: 480px) {
    .bullets{
        /* width: 20%;
        margin: 1rem 0 1rem 0;
        height: 45rem; */
    
    }
    .vertline{
        /* bottom: 38%; */
    }
  } 
   @media screen and (max-width: 385px) {
  
    .vertline{
        /* display: inline-block;
        position: absolute;
        border-left: solid 1px rgba(0, 0, 0, 0.3);
        margin-left: 4.8rem;
        top: 3%;
        left: -3.85rem;
        height: 60%;
        bottom:38%; */
    }
    .rmimagecontainer{
        display: none;
    }  
    .calltoaction{
        /* margin-top: 0; */
    } 
    .ctaheadertext{
        /* min-height: 6rem;
        max-width: 15rem;
        font-size: 2.2rem;
        line-height: 2.3rem;
        margin-top: 5%;
        margin-bottom: 0%; */
    }
    .ctasidetext{
        /* margin-top: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; */
        

    }
    .ctatext{
        /* width: 75%; */
    }
    .ctaimagescontainer{
        /* width: 25%; */
    }
    .ctastores{
        display: flex;
        width: 100%;
        flex-direction: row;
        /* justify-content: flex-start; */
        /* margin-top: 0%;
        margin-left: 0%;
        z-index: 100; */
    }
    .ctastores img{
        /* min-width: 8.5rem;
        margin-top: 0.5rem; */
    }
    .ctacontainer{
        width: 100%;
    }
    .ctaimagescontainer{
    }
    #submit{
        /* display: inline-block;
        width: 35%;
        min-width:30rem;
        margin-left: 5%;
        margin-right: 10%; */
    }
 

  } 

